<ul class="list-group w-100" *ngFor="let todo of todo">
    <li class="list-group-item d-flex justify-content-between w-100">
        <span>
            <input (change)="changeTodo(todo)" type="checkbox" [checked]="todo.isComplete">
        </span>
        <span [ngClass]="{completed:todo.isComplete}">
            {{todo.title}}
        </span>
        <span [ngClass]="{completed:todo.isComplete}">
            {{todo.date|date}}
        </span>
        <span>
           <fa-icon [icon]="fatrash" (click)="delettodo(todo)"></fa-icon>
        </span>
    </li>
</ul>